body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:15px;
}

.card:hover{
    transform:translateY(-3px);
    transition:0.3s;
}

.task-card{
    margin-bottom:15px;
}